a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    background-color: #fcf9f9;
    color: #1f1e1e;
}

.estra__img img {
    width: 200px;
    height: auto;
}

.header-nav-list {
    display: flex;
    font-weight: bold;
}

.header-nav-item:not(:last-child) {
    margin-right: 30px;
}

.relative {
    position: relative;
}

.relative__img {
    margin: 0 0 0 auto;
    display: block;
    width: 75%;
}

.absolute {
    position: absolute;
    top: 5%;
    left: 15%;
    font-size: 30px;
}

.absolute2 {
    position: absolute;
    top: 30%;
    left: 15%;
    font-size: 20px;
}

.sea {
    color: #20b2aa;
}


.shinchakujoho {

    padding-left: 400px;
    padding-top: 40px;
    margin-bottom: 70px;
}

.shinchakujoho-ttl {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 20px;

}




.news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.news-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.item {
    margin-bottom: 20px;
}

.news-list .item a {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
}

.news-list .item:first-child a {
    border-top: 1px solid #CCC;
}

.news-list .item .date {
    margin: 0;
    min-width: 140px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
}

.news-list .item .category {
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
}

.news-list .item .category span {
    background: #f031c6;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1;
}

.news-list .item .title {
    margin: 0;
    width: 100%;
}

.news-list .item a:hover .title {
    color: #00F;
}

@media screen and (max-width: 767px) {
    .news-list .item a {
        flex-wrap: wrap;
    }

    .news-list .item .date {
        min-width: 100px;
    }

    .news-list .item .title {
        margin-top: 10px;
    }
}

/* 装飾 */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 20px;
}

.about {
    background-color: #ebebeb;
    padding: 20px 0;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about__content-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.about__content-ttl {
    text-align: center;
}

.about__content {
    display: flex;
    /* 横並びにするために追加 */
    align-items: center;
    /* 縦方向の中央揃えのために追加 */
}

.text_1 {
    flex: 1;
    /* 幅を均等に分配するために追加 */
    padding: 0 10px;
    /* 要素の間隔を調整するために追加 */
}

.about__img {
    flex: 1;
    /* 幅を均等に分配するために追加 */
}

.about__img img {
    width: 80%;
    padding: 70px 20px 20px 70px;
}





.grid__parent {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 400px 400px;
    padding-left: 300px;

}

.grid__parent div {
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/3;
    background: #e4185c;
}

.box2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background: #eb8ac3;
}

.box3 {
    grid-column: 2/3;
    grid-row: 2/3;
    background: #ecb4d7;
}


.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ebebeb;
    padding: 60px 0;
    margin-top: 50px;
}

.blog-ttl {
    color: #888888;

}




.card {
    width: 360px;
    margin: 100px auto 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.card__img img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__content {
    background-color: #ffffff;
    padding: 15px 25px;
}

.card__content-ttl {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}

.card__content-tag {
    font-size: 14px;
    text-align: right;
    /* 親要素にtext-alignを適用すると子要素のinline-block要素に適応される */
}

.card__content-tag-item {
    display: inline-block;
    /* 横並びにするためにinline-blockを指定 */
    color: #008888;
}

.card__content-tag-item--last {
    display: inline-block;
    /* 横並びにするためにinline-blockを指定 */
    margin-left: 20px;
    color: #888888;
}










.kaishagaiyo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: gray;
}

table {
    margin: 0 auto;
    width: 60%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 20px;
}

table th {
    font-weight: bold;
    background-color: #dedede;
}

.container {
    display: flex;
    padding-top: 40px;
}

.image {
    position: relative;
    width: 50%;
}

.image img {
    display: block;
    width: 100%;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #fff
}

.otoiawase {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    padding-top: 40px;
}




.practice__btn {
    position: relative;
    width: 200px;
    padding: 10px 0;
    color: #fff;
    border-radius: 30px;
    background: linear-gradient(90deg, #ee6cc2, #be207c);
    text-align: center;
    box-shadow: 0 5px 0 rgba(255, 0, 0, 0.2);
    margin: 100px auto 0;
    display: block;
}

.practice__btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    background: url(img/mailicon.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translate(0, -50%);
}